.wrapper {
  color: #61dafb;
  width: fit-content;
  margin-left: auto;
  margin-right: 20px;
  height: 30px;
  border: 1px solid transparent;
  padding: none;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
